body {
  margin: 0;
}



.first-section {
  background-color: #e554731a;
  padding: 0px 150px;
  padding-top: 100px;
  display: flex;
  margin-bottom: 100px;
}

.first-half {
  width: 50%;
  margin-right: 97px;
  margin-bottom: 60px;

}

.second-half {
  width: 50%;
  display: flex;
  justify-content: center;
}

.headingtitle {
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}


.button1 {
  border-radius: 8px;
  color: white;
  border: none;
  background: #E55473;
  width: 150px;
  height: 64px;
}


.featuresection {
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.featurecaption {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}


.feature1 {
  width: 464px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;

  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}

.featureimg1 {
  width: 310px;
  height: 428px;
  object-fit: contain;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}



.feature2 {
  width: 464px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);


}

.feature3 {
  width: 464px;
  height: 538px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}


.deliverysection {
  margin-bottom: 100px;
  justify-content: space-between;
}

.deliverysectioncontent1 {
  display: flex;
  background-color: rgba(39, 39, 39, 0.05);
  text-align: center;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  padding: 86px 175px 86px 175px;

}

.instagramsection {
  margin-bottom: 100px;
}


.instaimg1 {
  width: 342px;
  height: 396px;
  display: flex;
  justify-content: center;
  padding: 4px;

}

.hotdeals {
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  margin-bottom: 100px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.hotdealsheadertext {
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.hotdealsimg {
  width: 50%;
  display: flex;
  justify-content: center;
}


.subscriptionssection {
  display: flex;
  justify-content: center;
}

.subscriptionscontent {
  background-image: url('/asset/Rectangle 9.png');
  background-repeat: no-repeat;
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  text-align: center;
  padding-top: 100px;
}

input {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #FFF;
  border: none;
  margin: 16px;
}



.footer {
  background-color: #000000;

  color: white;
  height: 449px;
  text-align: center;
}

.footerheading1 {
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 120px;
}

.copyrithttext {
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* testimonials  */

.Testimonials{
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
./* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 20px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}